apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:                        # Add an annotation indicating the issuer to use for signing the fresh certificates
    cert-manager.io/cluster-issuer: ca-issuer
  name: adguard
  namespace: adguard
spec:
  ingressClassName: traefik
  rules:
  - host: adguard.192-168-0-37.nip.io
    http:
      paths:
      - backend:
          service:
            name: adguardui
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:                                # Placing a host in the TLS config will determine what ends up in the cert's subjectAltNames
  - hosts:
    - adguard.192-168-0-37.nip.io
    secretName: adguard-cert
